/* ================= RESPONSIVE FIX ================= */

/* Tablet */
@media (max-width: 1024px) {
    .home-img img,
    .about-img img {
        width: 45vw;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        display: none;
        padding: 2rem;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-img img,
    .about-img img {
        width: 70vw;
        margin-top: 2rem;
    }

    .abuot {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

/* Small phones */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        font-size: 4.2rem;
    }
}
